# Dependency directories
node_modules/
my_env/

# Production build
build/

# Environment variables
.env

# Logs
*.log

# IDE settings
.vscode/

# Test coverage
coverage/

# OS-specific files
.DS_Store
Thumbs.db

# npm or yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
